$bfs = 16px // base font size
$blh = 1.4  // base line height
$btc = #383534 // base text color
$bff = "LatoRegular", "Helvetica Neue", Helvetica, Arial, sans-serif // base font family
$bhff =  $bff // base headings font family

$links-color = #0060a0
$links-border-color = alpha($links-color, 20%)
$links-hover-color = #e05020
$links-hover-border-color = alpha($links-hover-color, 20%)