.events-list
  padding-top 26px
  background #ededed

.events-list__title
  font-size 18px
  font-family 'LatoRegular'
  color #575454
  margin-bottom 30px

.events-list__item
  margin-bottom 20px

.events-list__pagination
  margin-bottom 36px !important


// RESPONSIVE
// tablets
// @media screen and (max-width 992px)

// mobiles
@media screen and (max-width 768px)
  .events-list__title
    text-align center