.search
  background url('../images/search-bg.jpg') center no-repeat
  background-size cover
  
  padding-top 60px
  padding-bottom 50px
  
  color #fff

.search__header
  text-align center

.search__title
  font-size 36px
  font-family 'LatoLight'
  color #d2d2d2
  margin-bottom 20px

.search__subtitle
  font-size 18px

.search__form
  margin-top 50px