.searchform__selects
  text-align center
  
  select
    display none

.searchform__select
  width 100%

.searchform__other
  margin-top 2rem

.searchform__checkboxes
  margin-top 46px

.searchform__submit
  margin-top 40px
  text-align center

.searchform__btn
  width 30%
  line-height 50px
  background #bc5a50
  border 0
  border-radius 32px
  
  &:hover
    background #668696

// RESPONSIVE
// mobiles
@media screen and (max-width 768px)
  .searchform__checkboxes
    text-align center