.event-main
  padding-top 40px
  padding-bottom 60px
  background #ededed
  
  &__content
    line-height 1.875
    
    & > *
      margin-bottom 1rem
  
  &__gallery
    margin-top 50px
    
    img
      width 100%
  
  &__news
    margin-top 60px
  
  &__news-title
    text-align center
    font-size 36px
    font-family 'LatoLight'
    margin-bottom 30px
  
  &__btn
    margin-top 50px
    text-align center
    
    .btn
      width 30%
      line-height 50px


@media screen  and (max-width 640px)
  .event-main
    .btn
      width 70%

@media screen and (max-width 360px)
  .event-main
    padding-bottom 30px
    
  .btn
    width 80%