.event-header
  padding-top 53px
  padding-bottom 44px
  
  background url('../images/event-bg.jpg') center no-repeat
  background-size cover

  &__title, &__subtitle
    text-align center
    color #fff
  
  &__title
    font-family 'LatoLight'
    font-size 36px
    margin-bottom 18px
  
  &__subtitle
    font-size 18px
  
  &__card
    margin-top 50px